@charset "UTF-8";


$text-large: 24px;

$white: rgb(255, 255, 255);
$light-gray: rgb(247, 247, 249);
$primary: rgb(7, 54, 66);
$info: rgb(150, 203, 254);
$success: rgb(168, 255, 96);
$warning: rgb(255, 115, 253);
$danger: rgb(218, 68, 83);